.content {
    background-color: #f5f5f5;
    width: 100%;
    padding: 0 15px;
    height: calc(100vh - 100px);
    overflow: hidden;
    overflow-y: scroll;
    
    .header {
        user-select: none;
        background-color: #f5f5f5;
        width: calc(100% - 30px);
        height: 40px;
        display: flex;
        position: fixed;
        top: 0;
        z-index: 10;
        justify-content: space-between;
        align-items: center;

        div {
            font-size: 14px;
            color: #1a1a1a;
        }

        div:active {
            color: red;
            font-size: 20px;
        }

        div:hover {
            color: red;
            font-size: 20px;
        }


    }

    .footer {
          :global {
            .rv-submit-bar {
                bottom: 50px;
              }    
          }
    }
}
